{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'bike_index' %}

{% block main %}
<h1>{{ 'title.myBikes'|trans }}</h1>
    <div class="bs-component">
        {{ include('dashboard/bike/_table.html.twig', {
                bikes : bikes        
            }, with_context = false) }}
    </div>
    {{ knp_pagination_render(bikes) }}
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}
    <a href="{{ path('bike_new') }}" class="btn btn-sm btn-block btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.add_bike'|trans }}
    </a>
    
       
            
{% endblock %}
