{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'title.new.bike' %}

{% block main %}
    <section class="page-shell">
        <h1 class="page-shell__title">{{ 'title.new.bike'|trans }}</h1>

        {{ include('dashboard/bike/_form.html.twig', {
            form: form,
            button_label: 'action.add.bike'|trans,
            include_save_and_create_new: true,
            include_back_to_home_link: true,
        }, with_context = false) }}
    </section>

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    {{ encore_entry_script_tags('js/bike/new') }} 
{% endblock %}
