{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'title.new.bike' %}

{% block main %}
    <h1>{{ 'title.new.bike'|trans }}</h1>

    {{ include('dashboard/bike/_form.html.twig', {
        form: form,
        button_label: 'label.update.bike'|trans,
        include_save_and_create_new: true,
        include_back_to_home_link: true,        
    }, with_context = false) }}

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    {{ encore_entry_script_tags('js/bike/new') }} 
{% endblock %}
