{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_index' %}

{% block main %}
    <h1>{{ 'title.admin'|trans }}</h1>
    
    <div class="row">
    <div class="col-12">
        <div class="bs-component">
            <div class="card">
                <div class="card-header">
                    <a href="{{ path('workshop_index', { 'area': area }) }}"><h2>
                            {{ 'title.workshops'|trans }}
                        </h2></a>
                </div>
                <div class="card-body">
                    {{ include('dashboard/workshop/_table.html.twig', {workshops: workshops, area: area}, with_context = false) }}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block sidebar %}
    
    {{ parent() }}

{% endblock %}
