<div class="table-responsive-sm">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">{{ 'label.date'|trans }}</th>
				<th scope="col">{{ 'title.workshop'|trans }}</th>
				<th scope="col">{{ 'label.odometer'|trans }}</th>
				<th scope="col">{{ 'label.spentTime'|trans }}</th>
				<th scope="col">{{ 'label.description'|trans }}</th>
				<th scope="col">{{ 'label.cost'|trans }}</th>
				<th scope="col">{{ 'label.comment'|trans }}</th>
			</tr>
			{% if bike is not null%}
			<tr>
				<th>{{ bike.numberOfMaintenances|number_format }}</th>
				<th></th>
				<th></th>
				<th>{{ bike.totalTimeSpent|number_format }} h</th>
				<th></th>
				<th>{{ bike.totalMaintenanceCosts | number_format(2) }} €</th>
				<th></th>
			</tr>
			{% endif %}
		</thead>
		<tbody>
			{% for m in maintenances %}
			{% set midx = loop.index0 %}
			<tr class="table-primary" data-toggle="collapse"
				data-target=".maintenance-{{ midx }}" aria-expanded="false">
				<td>{{ m.dateString }}</td>
				<td>{{ m.workshop.name }}</td>
				<td>{{ m.odometer|number_format }} km</td>
				<td>{{ m.spentTime }} h</td>
				<td>{{ m.description(30) }}</td>
				<td>{{ m.totalCost|number_format(2) }} €</td>
				<td>{{ m.comment }}</td>
			</tr>

			{% for mt in m.maintenanceTasks %}
			<tr class="collapse maintenance-{{ midx }}"
				id="task-{{ midx }}-{{ loop.index0 }}">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{ mt.task.description }}</td>
				<td>{{ mt.cost|number_format(2) }} €</td>
				<td>{{ mt.comment }}</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr class="table-warning">
				<td colspan="6" align="center">{{ 'label.noneFound.refuelings'|trans }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>