<div class="table-responsive-xl">
	<table class="table table-hover table-bordered maintenance-table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">{{ "label.task"|trans }}</th>
				<th scope="col">{{ "label.interval"|trans }}</th>
				<th scope="col">{{ "label.remaining"|trans }}</th>
				{% for m in bike.maintenances %}
				<th>{{ m.dateString }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for si in bike.serviceIntervals %}
			<tr
				class={% if (si.interval - (bike.odometer - bike.lastTask(si.task))) > 500 %}
				"table-success" {% elseif (si.interval - (bike.odometer - bike.lastTask(si.task))) < 0 %}"table-danger"{% else %}"table-warning"{% endif %}>
				<th scope="row">{{ si.task.name }}</th>
				<td>{{ si.interval | number_format }} km</td>
				<td>{{ (si.interval - (bike.odometer - bike.lastTask(si.task))) | number_format}}
					km</td>
				{% for m in bike.maintenances %}
				<td>{% if m.hasTask(si.task) %} {{ m.odometer|number_format }}
					km{% endif %}</td>
				{% endfor %}
			</tr>

			{% endfor %}
		</tbody>

	</table>
</div>