<div class="table-responsive-xl">
	<table class="table table-hover table-bordered maintenance-table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">{{ "label.task"|trans }}</th>
				<th scope="col">{{ "label.interval"|trans }}</th>
				<th scope="col">{{ "label.remaining"|trans }}</th>
				{% for m in bike.maintenances[-5:] %}
				<th>{{ m.dateString }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for si in bike.serviceIntervals %}
			{% set warning = 0 %}
			{% set remaining = 0 %}
			{% if si.intervalType == 00 %}
			{% set warning = 500 %}
			{% set remaining = (bike.odometer - bike.lastTaskOdometer(si.task)) %}
			{% elseif si.intervalType == 10 %}
			{% set warning = 500 %}
			{% set remaining = (bike.odometer - bike.lastTaskOdometer(si.task)) %}
			{% elseif si.intervalType == 20 %}
			{% set warning = 7 %}
			{% set remaining =  date("now").diff(date(bike.lastTaskDate(si.task))).days %}
			{% elseif si.intervalType == 30 %}
			{% set warning = 14 %}
			{% set remaining = date("now").diff(date(bike.lastTaskDate(si.task))).days %}
			{% elseif si.intervalType == 40 %}
			{% set warning = 30 %}
			{% set remaining = date("now").diff(date(bike.lastTaskDate(si.task))).days %}
			{% endif %}			
			<tr class={% if (si.interval - remaining) > warning %}
				"table-success"
				{% elseif (si.interval - remaining) < 0 %}"table-danger"
				{% else %}"table-warning"
				{% endif %}>
				<th scope="row">{{ si.task.name }}</th>
				<td>{{ si.interval | number_format }} {% if si.intervalType == 00 or si.intervalType == 10 %}km
					{% elseif si.intervalType == 20 %} {{ "label.days"|trans }} {% elseif si.intervalType == 30 %}
					{{ "label.months"|trans }} {% elseif si.intervalType == 40 %} {{ "label.years"|trans }}
					{% endif %}</td>
				<td>{% if si.intervalType == 00 or si.intervalType == 10 %} {{ (si.interval - remaining) | number_format}} km
					{% elseif si.intervalType >= 20 %} {{ remaining | number_format}} {{ "label.days"|trans }} 
					{% endif %}</td>
				{% for m in bike.maintenances[-5:] %}
				<td>{% if m.hasTask(si.task) %} 
					{% if si.intervalType == 00 or si.intervalType == 10 %}{{ m.odometer|number_format }}km {% elseif si.intervalType == 20 %}{{ m.dateString }} {% elseif si.intervalType == 30 %} {{ m.dateString }}
					{% elseif si.intervalType == 40 %} {{ m.dateString }} {% endif %}
					{% endif %}</td>
				{% endfor %}
			</tr>

			{% endfor %}
		</tbody>

	</table>
</div>