{% set hasBikeFuelBaseline = bike is not null and bike.qualifiedRefuelings > 0 %}

<div class="table-responsive-xl {% if scrollable|default(false) %}inventory-panel__table-scroll{% else %}inventory-panel__table-shell{% endif %}">
	<table class="table table-hover table-bordered workshop-table workshop-table--refueling">
		<thead class="thead-dark">
			<tr>
				<th scope="col">{{ 'label.date'|trans }}</th>
				<th scope="col">{{ 'label.odometer'|trans }}</th>
				<th scope="col">{{ 'label.distance'|trans }}</th>
				<th scope="col">{{ 'label.fuelQuantity'|trans }}</th>
				<th scope="col">{{ 'label.price'|trans }}</th>
				<th scope="col">{{ 'label.consumption'|trans }}</th>
				<th scope="col">{{ 'label.range'|trans }}</th>
                <th scope="col">{{ 'label.location'|trans }}</th>
				<th scope="col">{{ 'label.comment'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for refueling in refuelings %}
			<tr>
				<th scope="row">{{ refueling.dateString }}</th>
				<td>{{ refueling.odometer|number_format }} km</td>
				<td>{{ refueling.distance|number_format }} km</td>
				<td>{{ refueling.fuelQuantity|number_format(2) }} l</td>
				<td>{{ refueling.price|number_format(2) }} €</td>
				<td>
                    {% set consumptionTone = hasBikeFuelBaseline ? (refueling.consumption < bike.averageConsumption ? 'ok' : (refueling.consumption > bike.averageConsumption ? 'overdue' : 'info')) : 'info' %}
                    <div class="workshop-table__stack">
                        <strong>{{ refueling.consumption|number_format(2) }} l/100km</strong>
                        <span class="status-pill status-pill--{{ consumptionTone }}">
                            {% if not hasBikeFuelBaseline %}
                                {{ 'label.notRecorded'|trans }}
                            {% elseif refueling.consumption < bike.averageConsumption %}
                                {{ 'label.performanceOver'|trans }}
                            {% elseif refueling.consumption > bike.averageConsumption %}
                                {{ 'label.performanceUnder'|trans }}
                            {% else %}
                                {{ 'status.ok'|trans }}
                            {% endif %}
                        </span>
                    </div>
                </td>
				<td>
                    {% set rangeTone = hasBikeFuelBaseline ? (refueling.range > bike.averageRange ? 'ok' : (refueling.range < bike.averageRange ? 'warning' : 'info')) : 'info' %}
                    <div class="workshop-table__stack">
                        <strong>{{ refueling.range|number_format(2) }} km</strong>
                        <span class="status-pill status-pill--{{ rangeTone }}">
                            {% if not hasBikeFuelBaseline %}
                                {{ 'label.notRecorded'|trans }}
                            {% elseif refueling.range > bike.averageRange %}
                                {{ 'label.performanceOver'|trans }}
                            {% elseif refueling.range < bike.averageRange %}
                                {{ 'label.performanceUnder'|trans }}
                            {% else %}
                                {{ 'status.ok'|trans }}
                            {% endif %}
                        </span>
                    </div>
                </td>
				<td>
                    {% if refueling.latitude is not null and refueling.longitude is not null %}
                        <a href="https://www.openstreetmap.org/#map=19/{{ refueling.latitude }}/{{ refueling.longitude }}" target="_blank" rel="noreferrer">
                            {{ refueling.latitude }}, {{ refueling.longitude }}
                        </a>
                    {% else %}
                        <span class="text-muted">{{ 'label.notRecorded'|trans }}</span>
                    {% endif %}
                </td>
				<td>{{ refueling.comment }}</td>
			</tr>
			{% else %}
			<tr class="table-warning">
				<td colspan="9" align="center">{{ 'label.noneFound.refuelings'|trans }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
