{% extends 'dashboard/layout.html.twig' %}

{% block body_id 'refueling_index' %}

{% block main %}
<h1>
	{{ 'title.refueling'|trans }}
</h1>
<div class="bs-component">
	{{ include('dashboard/refueling/_table.html.twig', {
                refuelings : refuelings,
                bike : bike ?? null
            }, with_context = false) }}
</div>
{{ knp_pagination_render(refuelings) }}
{% endblock %}

{% block sidebar %}

{{ parent() }}
<a
	href="{{  bike ? path('refueling_new_id', { 'id': bike.id }) : path('refueling_new') }}"
	class="btn btn-sm btn-block btn-success"> <i class="fa fa-plus"
	aria-hidden="true"></i> {{ 'action.add.refueling'|trans }}
</a>

{{ include('common/filters/_dateBikeYearFilter.html.twig') }}


{% endblock %}
